In [1]:
import pandas as pd
EEG_report = pd.read_csv(r"C:\Users\ballj\OneDrive\바탕 화면\Report.csv")
EEG_report.head(20)

,Field Name,serial_number,session_id,meditation_start_time,meditation_finish_time,hr_avg,hr_max,hr_min,hr_raw_data,hrv_avg,...,δ_wave_raw_data,θ_wave_raw_data,γ_wave_raw_data,coherence_goal,coherence_time,meditation_goal,meditation_time,feeling,diary,app_version
0,Data Type,long,string,date,date,float,float,float,list[float],float,...,list[float],list[float],list[float],float,float,float,float,string,string,string
1,Data Range,"[0, ∞)",\,\,\,"[0, 255]","[0, 255]","[0, 255]","[0, 255]","[0, 255]",...,"[0, ∞)","[0, ∞)","[0, ∞)","[0, ∞)","[0, ∞)","[0, ∞)","[0, ∞)",\,\,\
2,Data Description,Serial number,Session ID,Meditation start time Format: yyyy-MM-dd HH:mm:ss,Meditation finish time Format: yyyy-MM-dd HH:m...,The average heart rate of meditation,Maximum heart rate for meditation,Minimum heart rate for meditation,Heart rate throughout meditation，each data poi...,The average heart rate variability of meditation,...,"δ wave value throughout meditation, each data ...","θ wave value throughout meditation, each data ...","γ wave value throughout meditation, each data ...","Coherence daily goal, unit: second","Coherence time, unit: second","Meditation time daily goal, unit: second","meditation time, unit: second",The feeling of this meditation,The diary of this meditation,App version
3,NaN,1,2943dd2e-6cf3-11ee-bd47-0adbbea7d9be,2023-10-17 09:43:32,2023-10-17 09:46:34,67,75,62,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",26.42,...,"[87.0649, 87.0414, 86.9835, 87.0254, 87.1165, ...","[96.184, 95.9262, 95.7132, 95.6119, 95.5657, 9...","[96.0618, 96.1266, 96.1559, 96.1786, 96.2327, ...",180,0,600,182,,NaN,NaN
4,NaN,2,0d9f3e3c-6cbd-11ee-b0c0-b65e483c1a77,2023-10-17 03:16:12,2023-10-17 03:36:16,67,109,54,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",69.01,...,"[97.361, 97.361, 97.361, 97.361, 97.361, 97.36...","[96.4491, 96.4491, 96.4491, 96.4491, 96.4491, ...","[81.4179, 81.4179, 81.4179, 81.4179, 81.4179, ...",180,34,600,1204,,NaN,NaN
5,NaN,3,accfac16-6cb4-11ee-8328-0adbbea7d9be,2023-10-17 02:16:14,2023-10-17 02:36:17,75,78,67,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",13.02,...,"[81.7662, 82.0088, 82.2345, 82.4967, 82.7431, ...","[89.951, 90.1088, 90.2116, 90.2983, 90.3643, 9...","[79.9508, 80.4894, 81.0292, 81.5724, 82.1021, ...",180,116,600,1203,,NaN,NaN
6,NaN,4,96aa5cac-6c59-11ee-baf8-b65e483c1a77,2023-10-16 15:24:13,2023-10-16 15:44:09,79,95,69,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",40.27,...,"[84.4308, 84.4647, 84.4993, 84.4486, 84.4113, ...","[94.0264, 93.982, 93.9267, 93.7776, 93.6532, 9...","[94.0013, 94.0503, 94.0775, 94.1203, 94.1579, ...",180,52,600,1196,,NaN,NaN
7,NaN,5,effd2b16-6c38-11ee-bd47-0adbbea7d9be,2023-10-16 11:30:29,2023-10-16 11:50:32,79,103,68,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",24.2,...,"[88.4982, 88.5285, 88.555, 88.5877, 88.5846, 8...","[95.5763, 95.5735, 95.5897, 95.5672, 95.487, 9...","[94.1422, 94.1738, 94.1828, 94.1771, 94.1226, ...",180,50,600,1203,,NaN,NaN
8,NaN,6,c975722a-6c31-11ee-b0c0-b65e483c1a77,2023-10-16 10:39:18,2023-10-16 10:59:21,79,97,63,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",46.78,...,"[95.3799, 95.3097, 95.2761, 95.2532, 95.1899, ...","[98.3408, 98.4078, 98.4405, 98.4378, 98.3891, ...","[96.2659, 96.2471, 96.2126, 96.1689, 96.1048, ...",180,89,600,1203,,NaN,NaN
9,NaN,7,6b7dbd98-6b9c-11ee-bd47-0adbbea7d9be,2023-10-15 16:50:05,2023-10-15 17:10:03,77,97,57,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",32.5,...,"[84.3556, 84.5223, 84.689, 84.8556, 85.0223, 8...","[91.9125, 92.1131, 92.3137, 92.5143, 92.7149, ...","[82.806, 83.0657, 83.3254, 83.5851, 83.8448, 8...",180,25,600,1198,,NaN,NaN
10,NaN,8,75318582-6b96-11ee-b0c0-b65e483c1a77,2023-10-15 16:07:25,2023-10-15 16:10:30,69,78,60,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",47.08,...,"[85.74, 85.74, 85.74, 85.74, 85.74, 85.74, 85....","[90.7611, 90.7611, 90.7611, 90.7611, 90.7611, ...","[97.4147, 97.4147, 97.4147, 97.4147, 97.4147, ...",180,0,600,186,,NaN,NaN
11,NaN,9,d7b9d9b2-6b90-11ee-b0c0-b65e483c1a77,2023-10-15 15:27:13,2023-10-15 15:47:16,81,106,63,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",46.73,...,"[91.7509, 91.5857, 91.483, 91.3835, 91.3169, 9...","[98.4766, 98.3757, 98.2845, 98.1528, 98.0588, ...","[96.1993, 96.0385, 95.8706, 95.7013, 95.5233, ...",180,0,600,1203,,NaN,NaN
12,NaN,10,10b8912c-6b5f-11ee-8328-0adbbea7d9be,2023-10-15 09:30:54,2023-10-15 09:50:57,76,100,60,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",63.04,...,"[84.7875, 84.8729, 84.8669, 84.7255, 84.6651, ...","[91.3675, 91.4446, 91.4914, 91.3521, 91.2886, ...","[75.4348, 75.9259, 76.4535, 76.9156, 77.3335, ...",180,0,600,1203,,NaN,NaN
13,NaN,11,37971888-6b12-11ee-b0c0-b65e483c1a77,2023-10-15 00:20:48,2023-10-15 00:40:51,79,93,65,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",29.04,...,"[92.193, 92.2335, 92.2684, 92.2053, 92.087, 92...","[99.8075, 99.7698, 99.7898, 99.7193, 99.6407, ...","[87.0688, 86.8465, 86.6906, 86.5569, 86.4242, ...",180,79,600,1203,,NaN,NaN
14,NaN,12,1bc9a7b6-6af8-11ee-bd47-0adbbea7d9be,2023-10-14 21:13:54,2023-10-14 21:33:56,80,98,65,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",46.19,...,"[90.6232, 90.7543, 90.9034, 91.0079, 91.0605, ...","[98.2758, 98.3585, 98.4565, 98.4896, 98.4573, ...","[94.9308, 94.8459, 94.7989, 94.7517, 94.7461, ...",180,88,600,1202,,NaN,NaN
15,NaN,13,892dff36-6ad1-11ee-bd47-0adbbea7d9be,2023-10-14 16:37:47,2023-10-14 16:57:51,78,108,65,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",51.39,...,"[83.3646, 83.7241, 84.073, 84.2907, 84.4981, 8...","[94.6915, 94.7616, 94.7905, 94.8105, 94.8664, ...","[95.9407, 95.942, 95.8754, 95.7563, 95.66, 95....",180,67,600,1204,,NaN,NaN
16,NaN,14,f034f33a-6aca-11ee-b0c0-b65e483c1a77,2023-10-14 15:50:34,2023-10-14 16:10:36,80,118,67,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",49.57,...,"[89.9934, 90.0056, 90.001, 89.9581, 89.8783, 8...","[93.7806, 93.751, 93.7195, 93.7126, 93.7156, 9...","[76.3943, 76.3711, 76.3345, 76.3329, 76.3292, ...",180,35,600,1202,,NaN,NaN
17,NaN,15,a968f330-6ac4-11ee-b0c0-b65e483c1a77,2023-10-14 15:05:38,2023-10-14 15:25:41,77,115,62,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",46.09,...,"[87.4585, 87.5837, 87.7147, 87.7873, 87.7733, ...","[94.7826, 94.6557, 94.6045, 94.5694, 94.5807, ...","[85.4186, 85.4349, 85.424, 85.4297, 85.3822, 8...",180,23,600,1203,,NaN,NaN
18,NaN,16,94a2458c-69f7-11ee-b0c0-b65e483c1a77,2023-10-13 14:37:36,2023-10-13 14:57:39,82,96,71,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",31.4,...,"[79.0356, 79.1079, 79.0835, 79.0824, 79.0628, ...","[86.953, 86.9756, 86.9703, 87.003, 87.047, 87....","[87.24, 87.1951, 87.1551, 87.1184, 87.0893, 87...",180,0,600,1203,,NaN,NaN
19,NaN,17,6c8dbb9e-69d4-11ee-b0c0-b65e483c1a77,2023-10-13 10:25:57,2023-10-13 10:38:48,71,79,63,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",16.39,...,"[89.1299, 89.1117, 89.0134, 88.9933, 88.9792, ...","[100.0687, 99.9716, 99.8468, 99.7133, 99.6274,...","[85.4213, 85.5123, 85.6682, 85.8537, 86.0104, ...",180,164,600,771,,NaN,NaN

In [2]:
EEG_report_sample = EEG_report.loc[[13],:]
EEG_report_sample.head()

,Field Name,serial_number,session_id,meditation_start_time,meditation_finish_time,hr_avg,hr_max,hr_min,hr_raw_data,hrv_avg,...,δ_wave_raw_data,θ_wave_raw_data,γ_wave_raw_data,coherence_goal,coherence_time,meditation_goal,meditation_time,feeling,diary,app_version
13,NaN,11,37971888-6b12-11ee-b0c0-b65e483c1a77,2023-10-15 00:20:48,2023-10-15 00:40:51,79,93,65,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",29.04,...,"[92.193, 92.2335, 92.2684, 92.2053, 92.087, 92...","[99.8075, 99.7698, 99.7898, 99.7193, 99.6407, ...","[87.0688, 86.8465, 86.6906, 86.5569, 86.4242, ...",180,79,600,1203,,NaN,NaN

In [3]:
EEG_report_sample.columns

Index(['Field Name', 'serial_number', 'session_id', 'meditation_start_time',
       'meditation_finish_time', 'hr_avg', 'hr_max', 'hr_min', 'hr_raw_data',
       'hrv_avg', 'hrv_max', 'hrv_min', 'hrv_raw_data', 'attention_avg',
       'attention_max', 'attention_min', 'attention_raw_data',
       'relaxation_avg', 'relaxation_max', 'relaxation_min',
       'relaxation_raw_data', 'pressure_avg', 'pressure_max', 'pressure_min',
       'pressure_raw_data', 'coherence_duration(s)', 'coherence_flag_raw_data',
       'α_wave_raw_data', 'β_wave_raw_data', 'δ_wave_raw_data',
       'θ_wave_raw_data', 'γ_wave_raw_data', 'coherence_goal',
       'coherence_time', 'meditation_goal', 'meditation_time', 'feeling',
       'diary', 'app_version'],
      dtype='object')

#### Data parsing function

In [4]:
#리스트 값을 row로 변환하는 함수
def parse_raw_data(dataframe, col_name):
    col_str = dataframe.iloc[0][col_name]
    col_str = col_str.strip('[]')
    col_list = [float(val) for val in col_str.split(',')]  # 쉼표로 구분된 값을 리스트로 변환
    col_data = pd.DataFrame({col_name: col_list})
    return col_data

#### Experiment time function

In [5]:
#측정 시간 출력 함수
from datetime import datetime, timedelta

def time_difference(dataframe, start_time_col, finish_time_col):
    start_time = dataframe.iloc[0][start_time_col]
    start_time = datetime.strptime(start_time, '%Y-%m-%d %H:%M:%S')
    
    finish_time = dataframe.iloc[0][finish_time_col]
    finish_time = datetime.strptime(finish_time, '%Y-%m-%d %H:%M:%S')
    
    # 두 datetime 객체 간의 차이 계산
    time_difference = finish_time - start_time
    time_difference = time_difference.total_seconds()
    
    return time_difference

In [6]:
time_difference(EEG_report_sample, 'meditation_start_time', 'meditation_finish_time')

1203.0

### EEG 데이터에서 뽑아낼 feature list
1. brain wave 5가지
2. attention raw data
3. hrv raw data
4. hr raw data
5. start time, finish time

In [7]:
α_wave_raw_data = parse_raw_data(EEG_report_sample, 'α_wave_raw_data')
β_wave_raw_data = parse_raw_data(EEG_report_sample, 'β_wave_raw_data')
θ_wave_raw_data = parse_raw_data(EEG_report_sample, 'θ_wave_raw_data')
δ_wave_raw_data = parse_raw_data(EEG_report_sample, 'δ_wave_raw_data')
γ_wave_raw_data = parse_raw_data(EEG_report_sample, 'γ_wave_raw_data')
attention_raw_data = parse_raw_data(EEG_report_sample, 'attention_raw_data')
hrv_raw_data = parse_raw_data(EEG_report_sample, 'hrv_raw_data')
hr_raw_data = parse_raw_data(EEG_report_sample, 'hr_raw_data')
coherence_flag_raw_data = parse_raw_data(EEG_report_sample, 'coherence_flag_raw_data')

**brain wave, relaxation, attention have same length. <br> coherence_flag_raw_data, pressure_raw_data, hrv_raw_data, hr_raw_data have same length.**

In [8]:
#interval second 계산
interval_sec = time_difference(EEG_report_sample, 'meditation_start_time', 'meditation_finish_time') / len(β_wave_raw_data)
interval_sec

0.6223486808070356

In [9]:
interval_sec_other = time_difference(EEG_report_sample, 'meditation_start_time', 'meditation_finish_time') / len(hrv_raw_data)
interval_sec_other

0.6862521391899601

**interval 일치하는 데이터끼리 우선 병합**

In [10]:
dfs = [β_wave_raw_data, θ_wave_raw_data, δ_wave_raw_data, γ_wave_raw_data, attention_raw_data]  # 병합하려는 데이터 프레임 리스트
merged_df = α_wave_raw_data.join(dfs)
merged_df.head()

,α_wave_raw_data,β_wave_raw_data,θ_wave_raw_data,δ_wave_raw_data,γ_wave_raw_data,attention_raw_data
0,105.9926,101.7354,99.8075,92.1930,87.0688,0.0
1,105.9165,101.7077,99.7698,92.2335,86.8465,0.0
2,105.8205,101.6862,99.7898,92.2684,86.6906,0.0
3,105.6921,101.6254,99.7193,92.2053,86.5569,0.0
4,105.5345,101.5548,99.6407,92.0870,86.4242,0.0

In [11]:
dfs_other = [hr_raw_data, coherence_flag_raw_data]
merged_df_other = hrv_raw_data.join(dfs_other)
merged_df_other.head()

   hrv_raw_data  hr_raw_data  coherence_flag_raw_data
0           0.0          0.0                      0.0
1           0.0          0.0                      0.0
2           0.0          0.0                      0.0
3           0.0          0.0                      0.0
4           0.0          0.0                      0.0

In [12]:
start_time = EEG_report_sample.iloc[0]['meditation_start_time']
start_time = datetime.strptime(start_time, '%Y-%m-%d %H:%M:%S')
start_time

datetime.datetime(2023, 10, 15, 0, 20, 48)

In [13]:
interval_sec = timedelta(seconds=round(interval_sec,2))
interval_sec

datetime.timedelta(microseconds=620000)

In [14]:
merged_df['time'] = [start_time + i * interval_sec for i in range(len(merged_df))]
merged_df = merged_df.set_index('time')
merged_df

,α_wave_raw_data,β_wave_raw_data,θ_wave_raw_data,δ_wave_raw_data,γ_wave_raw_data,attention_raw_data
time,,,,,,
2023-10-15 00:20:48.000,105.9926,101.7354,99.8075,92.1930,87.0688,0.0
2023-10-15 00:20:48.620,105.9165,101.7077,99.7698,92.2335,86.8465,0.0
2023-10-15 00:20:49.240,105.8205,101.6862,99.7898,92.2684,86.6906,0.0
2023-10-15 00:20:49.860,105.6921,101.6254,99.7193,92.2053,86.5569,0.0
2023-10-15 00:20:50.480,105.5345,101.5548,99.6407,92.0870,86.4242,0.0
...,...,...,...,...,...,...
2023-10-15 00:40:43.360,95.8963,103.4641,91.0218,83.4827,94.5536,73.0
2023-10-15 00:40:43.980,96.0542,103.4021,90.9523,83.3610,94.5591,72.0
2023-10-15 00:40:44.600,96.1860,103.3511,90.9266,83.2336,94.5429,72.0
2023-10-15 00:40:45.220,96.2670,103.2795,90.8744,83.1061,94.5554,72.0
2023-10-15 00:40:45.840,96.3253,103.2121,90.8108,82.9812,94.5854,73.0

In [15]:
interval_sec_other = timedelta(seconds=round(interval_sec_other,2))
merged_df_other['time'] = [start_time + i * interval_sec_other for i in range(len(merged_df_other))]
merged_df_other = merged_df_other.set_index('time')
merged_df_other

                         hrv_raw_data  hr_raw_data  coherence_flag_raw_data
time
2023-10-15 00:20:48.000           0.0          0.0                      0.0
2023-10-15 00:20:48.690           0.0          0.0                      0.0
2023-10-15 00:20:49.380           0.0          0.0                      0.0
2023-10-15 00:20:50.070           0.0          0.0                      0.0
2023-10-15 00:20:50.760           0.0          0.0                      0.0
...                               ...          ...                      ...
2023-10-15 00:40:54.120          34.0         73.0                      0.0
2023-10-15 00:40:54.810          33.0         73.0                      0.0
2023-10-15 00:40:55.500          32.0         72.0                      0.0
2023-10-15 00:40:56.190          32.0         70.0                      0.0
2023-10-15 00:40:56.880          31.0         70.0                      0.0

[1753 rows x 3 columns]

**실험 초기 인식 오류 기간 비교 후, 삭제할 부분 삭제**

In [16]:
def count_initial_same_values(series):
    initial_value = series.iloc[0]
    count = 0
    for value in series:
        if value == initial_value:
            count += 1
        else:
            break
    return count

In [17]:
count_alpha = count_initial_same_values(merged_df['α_wave_raw_data'])
count_beta = count_initial_same_values(merged_df['β_wave_raw_data'])
count_theta = count_initial_same_values(merged_df['θ_wave_raw_data'])
count_delta = count_initial_same_values(merged_df['δ_wave_raw_data'])
count_gamma = count_initial_same_values(merged_df['γ_wave_raw_data'])

count_attention_zero = count_initial_same_values(merged_df['attention_raw_data'])

print(f"α_wave_raw_data 시작부에서 연속된 동일 값의 개수: {count_alpha}")
print(f"β_wave_raw_data 시작부에서 연속된 동일 값의 개수: {count_beta}")
print(f"θ_wave_raw_data 시작부에서 연속된 동일 값의 개수: {count_theta}")
print(f"δ_wave_raw_data 시작부에서 연속된 동일 값의 개수: {count_delta}")
print(f"γ_wave_raw_data 시작부에서 연속된 동일 값의 개수: {count_gamma}")
print(f"attention_raw_data 시작부에서 연속된 0의 개수: {count_attention_zero}")

α_wave_raw_data 시작부에서 연속된 동일 값의 개수: 1
β_wave_raw_data 시작부에서 연속된 동일 값의 개수: 1
θ_wave_raw_data 시작부에서 연속된 동일 값의 개수: 1
δ_wave_raw_data 시작부에서 연속된 동일 값의 개수: 1
γ_wave_raw_data 시작부에서 연속된 동일 값의 개수: 1
attention_raw_data 시작부에서 연속된 0의 개수: 19

In [18]:
count_hr = count_initial_same_values(merged_df_other['hr_raw_data'])

print(f"count_hr 시작부에서 연속된 0의 개수: {count_hr}")

count_hr 시작부에서 연속된 0의 개수: 22

In [19]:
interval_sec = interval_sec.total_seconds()
interval_sec

0.62

In [20]:
interval_sec_other = interval_sec_other.total_seconds()
interval_sec_other

0.69

In [21]:
initial_error_time_brain_wave = count_alpha * interval_sec
initial_error_time_attention = count_attention_zero * interval_sec
initial_error_time_hr = count_hr * interval_sec_other

values = [
    initial_error_time_brain_wave,
    initial_error_time_attention,
    initial_error_time_hr
]

# 가장 큰 값을 출력
print(max(values))

15.18

In [22]:
initial_error_time = timedelta(seconds=max(values))
initial_error_time

datetime.timedelta(seconds=15, microseconds=180000)

**초기 인식 오류 제거하고 데이터프레임 시작 시간**

In [23]:
real_start_time = start_time + initial_error_time
real_start_time

datetime.datetime(2023, 10, 15, 0, 21, 3, 180000)

In [24]:
merged_df = merged_df[merged_df.index > real_start_time]
merged_df

,α_wave_raw_data,β_wave_raw_data,θ_wave_raw_data,δ_wave_raw_data,γ_wave_raw_data,attention_raw_data
time,,,,,,
2023-10-15 00:21:03.500,99.8572,99.3471,97.6341,89.9853,84.9549,56.0
2023-10-15 00:21:04.120,99.4036,99.1968,97.4422,89.6653,84.9372,55.0
2023-10-15 00:21:04.740,99.0027,99.0303,97.2349,89.3087,84.9004,55.0
2023-10-15 00:21:05.360,98.5525,98.8454,97.0601,89.0036,84.8232,54.0
2023-10-15 00:21:05.980,98.1523,98.6584,96.8188,88.6209,84.7188,54.0
...,...,...,...,...,...,...
2023-10-15 00:40:43.360,95.8963,103.4641,91.0218,83.4827,94.5536,73.0
2023-10-15 00:40:43.980,96.0542,103.4021,90.9523,83.3610,94.5591,72.0
2023-10-15 00:40:44.600,96.1860,103.3511,90.9266,83.2336,94.5429,72.0
2023-10-15 00:40:45.220,96.2670,103.2795,90.8744,83.1061,94.5554,72.0
2023-10-15 00:40:45.840,96.3253,103.2121,90.8108,82.9812,94.5854,73.0

In [25]:
merged_df_other = merged_df_other[merged_df_other.index > real_start_time]
merged_df_other

                         hrv_raw_data  hr_raw_data  coherence_flag_raw_data
time
2023-10-15 00:21:03.870           0.0         79.0                      0.0
2023-10-15 00:21:04.560           0.0         79.0                      0.0
2023-10-15 00:21:05.250           0.0         79.0                      0.0
2023-10-15 00:21:05.940           0.0         79.0                      0.0
2023-10-15 00:21:06.630           0.0         80.0                      0.0
...                               ...          ...                      ...
2023-10-15 00:40:54.120          34.0         73.0                      0.0
2023-10-15 00:40:54.810          33.0         73.0                      0.0
2023-10-15 00:40:55.500          32.0         72.0                      0.0
2023-10-15 00:40:56.190          32.0         70.0                      0.0
2023-10-15 00:40:56.880          31.0         70.0                      0.0

[1730 rows x 3 columns]

**앞, 뒤로 0,20,40초 단위로 잘리지 않는 값들에 대한 처리 (15초 이상이면 살리기)**

In [26]:
# 데이터프레임 인덱스를 초 단위로 반올림
merged_df.index = merged_df.index.round('S')
merged_df_other.index = merged_df_other.index.round('S')

In [27]:
merged_df

,α_wave_raw_data,β_wave_raw_data,θ_wave_raw_data,δ_wave_raw_data,γ_wave_raw_data,attention_raw_data
time,,,,,,
2023-10-15 00:21:04,99.8572,99.3471,97.6341,89.9853,84.9549,56.0
2023-10-15 00:21:04,99.4036,99.1968,97.4422,89.6653,84.9372,55.0
2023-10-15 00:21:05,99.0027,99.0303,97.2349,89.3087,84.9004,55.0
2023-10-15 00:21:05,98.5525,98.8454,97.0601,89.0036,84.8232,54.0
2023-10-15 00:21:06,98.1523,98.6584,96.8188,88.6209,84.7188,54.0
...,...,...,...,...,...,...
2023-10-15 00:40:43,95.8963,103.4641,91.0218,83.4827,94.5536,73.0
2023-10-15 00:40:44,96.0542,103.4021,90.9523,83.3610,94.5591,72.0
2023-10-15 00:40:45,96.1860,103.3511,90.9266,83.2336,94.5429,72.0
2023-10-15 00:40:45,96.2670,103.2795,90.8744,83.1061,94.5554,72.0
2023-10-15 00:40:46,96.3253,103.2121,90.8108,82.9812,94.5854,73.0

In [28]:
def process_start_time_trash_sec(dt):
    # 입력된 시간에서 분은 1 더하고 초는 버림
    rounded_time = dt + timedelta(minutes=1) - timedelta(seconds=dt.second)
        
    # 두 시간 간의 초 차이 계산
    time_difference = (rounded_time - dt).total_seconds()
    
    # 20초로 나눈 나머지 계산 ex. 12
    remainder = time_difference % 20.0
    
    # 나머지가 15초 미만의 데이터는 버리고, 15초 이상의 데이터는 버리는 것 없이 그대로 사용하기
    # 이러면 절사평균할 때 앞에 살릴 것들은 따로 절사평균 진행
    if 15 <= remainder:
        return False
    
    else:
        return remainder
    
# ex. 2023-10-15 00:21:04 -> remainder : 16 (False)
# ex. 2023-10-15 00:21:15 -> remainder : 5

In [29]:
remainder = process_start_time_trash_sec(merged_df.index[0])

def nearest_time_rounding(dt):
    # 주어진 시간의 초를 추출
    seconds = dt.second
    # 0, 20, 40초 중 가장 가까운 값을 찾기 위한 리스트
    time_points = [0, 20, 40]
    # 가장 가까운 초 값 찾기
    nearest = min(time_points, key=lambda x: abs(x - seconds))
    # 찾은 초 값으로 시간 변경
    rounded_time = dt.replace(second=nearest, microsecond=0)
    
    return rounded_time

# ex. 2023-10-15 00:21:04 -> remainder : 16 (False)
if remainder == False:
    # 첫 번째 인덱스를 가장 가까운 0, 20, 40초 중 하나로 변경 -> 그 시간부터 20초 단위로 절사평균 진행하면 됨
    start_time = nearest_time_rounding(merged_df.index[0])
    
    # 인덱스를 리스트로 변환하고 첫 번째 값을 수정
    new_index = merged_df.index.tolist()
    new_index[0] = start_time
    merged_df.index = new_index
    
# ex. 2023-10-15 00:21:15 -> remainder : 5
else:
    # remainder가 15초 미만이면 버리고 그 이후부터 시작
    cutting_time = timedelta(seconds=remainder)
    merged_df = merged_df[merged_df.index >= merged_df.index[0] + cutting_time]

In [30]:
remainder_other = process_start_time_trash_sec(merged_df_other.index[0])
if remainder_other == False:
    # 첫 번째 인덱스를 가장 가까운 0, 20, 40초 중 하나로 변경 -> 그 시간부터 20초 단위로 절사평균 진행하면 됨
    start_time_other = nearest_time_rounding(merged_df_other.index[0])
    # 인덱스를 리스트로 변환하고 첫 번째 값을 수정
    new_index_other = merged_df_other.index.tolist()
    new_index_other[0] = start_time_other
    merged_df_other.index = new_index_other

else:
    # remainder가 15초 미만이면 버리고 그 이후부터 시작
    cutting_time_other = timedelta(seconds=remainder_other)
    merged_df_other = merged_df_other[merged_df_other.index >= merged_df_other.index[0] + cutting_time_other]

In [31]:
merged_df.head()

,α_wave_raw_data,β_wave_raw_data,θ_wave_raw_data,δ_wave_raw_data,γ_wave_raw_data,attention_raw_data
2023-10-15 00:21:00,99.8572,99.3471,97.6341,89.9853,84.9549,56.0
2023-10-15 00:21:04,99.4036,99.1968,97.4422,89.6653,84.9372,55.0
2023-10-15 00:21:05,99.0027,99.0303,97.2349,89.3087,84.9004,55.0
2023-10-15 00:21:05,98.5525,98.8454,97.0601,89.0036,84.8232,54.0
2023-10-15 00:21:06,98.1523,98.6584,96.8188,88.6209,84.7188,54.0

In [32]:
merged_df_other.head()

                     hrv_raw_data  hr_raw_data  coherence_flag_raw_data
2023-10-15 00:21:00           0.0         79.0                      0.0
2023-10-15 00:21:05           0.0         79.0                      0.0
2023-10-15 00:21:05           0.0         79.0                      0.0
2023-10-15 00:21:06           0.0         79.0                      0.0
2023-10-15 00:21:07           0.0         80.0                      0.0

In [33]:
merged_df.tail(30)

,α_wave_raw_data,β_wave_raw_data,θ_wave_raw_data,δ_wave_raw_data,γ_wave_raw_data,attention_raw_data
2023-10-15 00:40:28,93.5954,104.1143,91.7219,84.4519,94.2363,74.0
2023-10-15 00:40:28,93.6847,104.0990,91.7577,84.4034,94.2330,74.0
2023-10-15 00:40:29,93.7400,104.0633,91.8645,84.4468,94.2302,75.0
2023-10-15 00:40:30,93.7606,104.0815,91.8821,84.5212,94.1930,76.0
2023-10-15 00:40:30,93.8399,104.0826,91.9451,84.6759,94.1428,77.0
2023-10-15 00:40:31,93.8726,104.1051,92.0194,84.8511,94.1266,77.0
2023-10-15 00:40:32,93.8842,104.1124,92.1095,84.9881,94.0966,79.0
2023-10-15 00:40:32,93.8371,104.0866,92.1547,85.1631,94.0734,79.0
2023-10-15 00:40:33,93.8957,104.0326,92.1065,85.1783,94.0349,79.0
2023-10-15 00:40:33,93.9823,103.9514,92.0737,85.2221,94.0354,78.0
2023-10-15 00:40:34,94.1082,103.9336,91.9738,85.1217,94.0281,78.0
2023-10-15 00:40:35,94.1960,103.9345,91.9334,85.1484,94.0269,78.0
2023-10-15 00:40:35,94.2646,103.9215,91.8751,85.0483,94.0262,78.0
2023-10-15 00:40:36,94.3675,103.9045,91.8085,84.8849,94.0445,78.0
2023-10-15 00:40:37,94.5146,103.8987,91.7252,84.6831,94.0945,78.0
2023-10-15 00:40:37,94.6829,103.9041,91.6491,84.5552,94.0832,80.0
2023-10-15 00:40:38,94.8112,103.9161,91.5851,84.5482,94.0874,80.0
2023-10-15 00:40:38,94.9600,103.9011,91.4994,84.5514,94.0659,81.0
2023-10-15 00:40:39,95.1179,103.8365,91.4113,84.5195,94.1262,80.0
2023-10-15 00:40:40,95.2903,103.7610,91.3361,84.3786,94.1773,79.0
2023-10-15 00:40:40,95.4216,103.7127,91.2636,84.2328,94.2903,80.0
2023-10-15 00:40:41,95.4919,103.7272,91.2398,84.0927,94.3672,79.0
2023-10-15 00:40:42,95.5579,103.7198,91.2004,83.9620,94.4329,79.0
2023-10-15 00:40:42,95.6183,103.6584,91.1704,83.7918,94.4632,76.0
2023-10-15 00:40:43,95.7423,103.5553,91.0846,83.6243,94.5112,75.0
2023-10-15 00:40:43,95.8963,103.4641,91.0218,83.4827,94.5536,73.0
2023-10-15 00:40:44,96.0542,103.4021,90.9523,83.3610,94.5591,72.0
2023-10-15 00:40:45,96.1860,103.3511,90.9266,83.2336,94.5429,72.0
2023-10-15 00:40:45,96.2670,103.2795,90.8744,83.1061,94.5554,72.0
2023-10-15 00:40:46,96.3253,103.2121,90.8108,82.9812,94.5854,73.0

In [34]:
merged_df_other.tail(30)

                     hrv_raw_data  hr_raw_data  coherence_flag_raw_data
2023-10-15 00:40:37          40.0         75.0                      0.0
2023-10-15 00:40:38          40.0         76.0                      0.0
2023-10-15 00:40:38          40.0         76.0                      0.0
2023-10-15 00:40:39          40.0         76.0                      0.0
2023-10-15 00:40:40          40.0         76.0                      0.0
2023-10-15 00:40:40          40.0         76.0                      0.0
2023-10-15 00:40:41          40.0         77.0                      0.0
2023-10-15 00:40:42          40.0         77.0                      0.0
2023-10-15 00:40:42          40.0         78.0                      0.0
2023-10-15 00:40:43          40.0         78.0                      0.0
2023-10-15 00:40:44          40.0         79.0                      0.0
2023-10-15 00:40:44          40.0         79.0                      0.0
2023-10-15 00:40:45          40.0         79.0                      0.0
2023-10-15 00:40:46          40.0         78.0                      0.0
2023-10-15 00:40:47          40.0         78.0                      0.0
2023-10-15 00:40:47          40.0         77.0                      0.0
2023-10-15 00:40:48          40.0         77.0                      0.0
2023-10-15 00:40:49          39.0         77.0                      0.0
2023-10-15 00:40:49          39.0         76.0                      0.0
2023-10-15 00:40:50          38.0         76.0                      0.0
2023-10-15 00:40:51          38.0         76.0                      0.0
2023-10-15 00:40:51          37.0         75.0                      0.0
2023-10-15 00:40:52          36.0         75.0                      0.0
2023-10-15 00:40:53          36.0         74.0                      0.0
2023-10-15 00:40:53          35.0         73.0                      0.0
2023-10-15 00:40:54          34.0         73.0                      0.0
2023-10-15 00:40:55          33.0         73.0                      0.0
2023-10-15 00:40:56          32.0         72.0                      0.0
2023-10-15 00:40:56          32.0         70.0                      0.0
2023-10-15 00:40:57          31.0         70.0                      0.0

**실험 종료 시간 맞춰주기**

In [35]:
# merged_df.index[-1]

In [36]:
# merged_df_other.index[-1]

In [ ]:
#Timestamp('2023-10-15 00:40:57') 가 Timestamp('2023-10-15 00:40:46')보다 더 큰 것임!

# 더 늦게 끝나는 데이터프레임을 일찍 끝나는 데이터프레임에 맞춰야 함.
if merged_df.index[-1] > merged_df_other.index[-1]:
    merged_df = merged_df[merged_df.index <= merged_df_other.index[-1]]

elif merged_df.index[-1] < merged_df_other.index[-1] :
    merged_df_other = merged_df_other[merged_df_other.index <= merged_df.index[-1]]
    
else:
    False

In [ ]:
merged_df.tail()

In [ ]:
merged_df_other.tail()

In [37]:
def process_finish_time_trash_sec(dt):
    # 입력된 시간에서 초는 버림
    rounded_time = dt - timedelta(seconds=dt.second)
        
    # 두 시간 간의 초 차이 계산
    time_difference = (dt - rounded_time).total_seconds()
    
    # 20초로 나눈 나머지 계산
    remainder = time_difference % 20.0
    
    if 15 <= remainder:
        return False
    
    else:
        return remainder
    
#ex. 2023-10-15 00:40:46 -> remainder : 6
#ex. 2023-10-15 00:40:56 -> remainder : 16 (False)

In [38]:
finish_time = nearest_time_rounding(merged_df_other.index[-1])
finish_time

Timestamp('2023-10-15 00:40:40')

In [ ]:
remainder = process_finish_time_trash_sec(merged_df.index[-1])

# ex. 끝이 56초인 경우 나머지 16
if remainder == False:
# 0,20,40초 중 가까운 값으로 finish time 변경
    finish_time = nearest_time_rounding(merged_df.index[-1])
    if finish_time.
    merged_df.index[-1] = finish_time
    
    # 인덱스를 리스트로 변환하고 첫 번째 값을 수정
    new_index = merged_df.index.tolist()
    new_index[-1] = finish_time
    merged_df.index = new_index

    
# ex. 끝이 3초인 경우 나머지 3
else:
# remainder가 15초 미만이면 버리고 그 이전 0,20,40초 중으로 마무리
    cutting_time = timedelta(seconds=remainder)
    merged_df = merged_df[merged_df.index <= merged_df.index[-1] - cutting_time]

In [ ]:
remainder_other = process_finish_time_trash_sec(merged_df_other.index[-1])

# ex. 끝이 37초인 경우 나머지 17
if remainder_other == False:
# 0,20,40초 중 가까운 값으로 finish time 변경
    finish_time_other = nearest_time_rounding(merged_df_other.index[-1])
    
    # 인덱스를 리스트로 변환하고 첫 번째 값을 수정
    new_index_other = merged_df_other.index.tolist()
    new_index_other[-1] = finish_time_other
    merged_df_other.index = new_index_other
    
# ex. 끝이 3초인 경우 나머지 3
else:
# remainder가 15초 미만이면 버리고 그 이전 0,20,40초 중으로 마무리
    cutting_time_other = timedelta(seconds=remainder_other)
    merged_df_other = merged_df_other[merged_df_other.index <= merged_df_other.index[-1] - cutting_time_other]

In [ ]:
merged_df

In [ ]:
merged_df_other

**feature 별로 outlier 및 오류라고 판단되는 부분 처리하는 프로세스 여기에 추가되어야 함**

#### data 오류 case
<br> hr, attention : 0이 연속적으로 나오는 경우
<br> brain wave : 같은 값이 연속적으로 나오는 경우

**20초 주기로 절사평균 진행**

In [ ]:
import numpy as np
from scipy import stats

# 그룹화할 주기 설정 (20초)
frequency = '20S'

# 데이터프레임을 20초 단위로 그룹화
grouped = merged_df.groupby(pd.Grouper(freq=frequency))

# 각 그룹별로 절사평균을 구하기
result = grouped.apply(lambda group: group.apply(lambda col: stats.trim_mean(col, proportiontocut=0.15) if np.issubdtype(col.dtype, np.number) else col.iloc[0]))
result

In [ ]:
# 데이터프레임을 20초 단위로 그룹화
grouped2 = merged_df_other.groupby(pd.Grouper(freq=frequency))

# 각 그룹별로 절사평균을 구하기
result2 = grouped2.apply(lambda group: group.apply(lambda col: stats.trim_mean(col, proportiontocut=0.15) if np.issubdtype(col.dtype, np.number) else col.iloc[0]))
result2

**EEG 전체 데이터로 병합**

In [ ]:
EEG_data_per_20sec = result.merge(result2, left_index=True, right_index=True)
EEG_data_per_20sec.head()

## Reverse R index VS β/θ

In [ ]:
EEG_data_per_20sec['Reverse R index'] = EEG_data_per_20sec['β_wave_raw_data'] / EEG_data_per_20sec['α_wave_raw_data']
EEG_data_per_20sec['β/θ SP'] = EEG_data_per_20sec['β_wave_raw_data'] / EEG_data_per_20sec['θ_wave_raw_data']
EEG_data_per_20sec

### Pearson correlation
#### which is usally used when two variables have a linear relationship

In [ ]:
correlation_beta_theta_attention = EEG_data_per_20sec['β/θ SP'].corr(EEG_data_per_20sec['attention_raw_data'])
correlation_rindex_attention = EEG_data_per_20sec['Reverse R index'].corr(EEG_data_per_20sec['attention_raw_data'])

print(f"Correlation between β/θ SP and attention_raw_data : {correlation_beta_theta_attention}")
print(f"Correlation between Reverse R index and attention_raw_data : {correlation_rindex_attention}")

In [ ]:
#스피어만 순위 상관계수
# 변수들이 정규 분포를 따르지 않거나, 순위 또는 서열 데이터와 같이 순서를 갖는 경우에 사용
# 선형적이지 않은 관계에도 강한 상관관계를 나타낼 수 있음

spearman_rindex_attention = EEG_data_per_20sec['Reverse R index'].corr(EEG_data_per_20sec['attention_raw_data'], method='spearman')
spearman_beta_theta_attention = EEG_data_per_20sec['β/θ SP'].corr(EEG_data_per_20sec['attention_raw_data'], method='spearman')

print(f"Reverse R index와 attention_raw_data의 스피어만 상관계수: {spearman_rindex_attention}")
print(f"β/θ SP와 attention_raw_data의 스피어만 상관계수: {spearman_beta_theta_attention}")

In [ ]:
import matplotlib.pyplot as plt

# Scatter plot 그리기
plt.figure(figsize=(8, 4))

plt.subplot(1, 2, 2)
plt.scatter(EEG_data_per_20sec['β/θ SP'], EEG_data_per_20sec['attention_raw_data'])
plt.title("β/θ SP vs. attention_raw_data")
plt.xlabel("β/θ SP")
plt.ylabel("attention_raw_data")

plt.subplot(1, 2, 1)
plt.scatter(EEG_data_per_20sec['Reverse R index'], EEG_data_per_20sec['attention_raw_data'])
plt.title("Reverse R index vs. attention_raw_data")
plt.xlabel("Reverse R index")
plt.ylabel("attention_raw_data")

plt.tight_layout()
plt.show()

### 결론 : 각각 scatterplot 찍어봤을 때, 두 변수끼리 선형관계의 모습을 보임. 따라서 피어슨 상관계수로 진행하면 될 것 같음. 하지만 피어슨이 아닌, 스피어만 순위 상관계수를 사용한다 해도 어쨌든 결과는 β/θ를 집중력 점수 관련하여 사용하는 것이 옳음

In [ ]:
EEG_data_per_20sec = EEG_data_per_20sec.drop(['Reverse R index'], axis = 1)
EEG_data_per_20sec.head()

## original brain wave & 20sec brain wave 유사도

In [ ]:
origin_hr = parse_raw_data(EEG_report_sample, 'hr_raw_data')
origin_hr.tail(30)

In [ ]:
origin_brain_wave = parse_raw_data(EEG_report_sample, 'α_wave_raw_data')
origin_brain_wave.tail(30)

In [ ]:
interval_sec_other = timedelta(seconds=interval_sec_other)
interval_sec_other

In [ ]:
interval_sec = timedelta(seconds=interval_sec)
interval_sec

In [ ]:
origin_hr['time'] = [start_time + i * interval_sec_other for i in range(len(origin_hr))]
origin_hr = origin_hr.set_index('time')
origin_hr

In [ ]:
origin_brain_wave['time'] = [start_time + i * interval_sec for i in range(len(origin_brain_wave))]
origin_brain_wave = origin_brain_wave.set_index('time')
origin_brain_wave

In [ ]:
EEG_data_per_20sec

In [ ]:
import matplotlib.pyplot as plt

# 첫 번째 그래프
plt.figure(figsize=(8, 5))
plt.plot(origin_hr.index, origin_hr['hr_raw_data'], marker='o', linestyle='-', label='0.67sec', color='olive')
plt.xlabel('time')
plt.ylabel('hr value')

# 두 번째 그래프
plt.plot(EEG_data_per_20sec.index, EEG_data_per_20sec['hr_raw_data'], marker='o', linestyle='-', label='20sec', color='orangered', linewidth = '3')

# 범례 추가
plt.legend()

# 그래프 표시
plt.show()

In [ ]:
import matplotlib.pyplot as plt

# 첫 번째 그래프
plt.figure(figsize=(8, 5))
plt.plot(origin_brain_wave.index, origin_brain_wave['α_wave_raw_data'], marker='o', linestyle='-', label='0.67sec', color='olive')
plt.xlabel('time')
plt.ylabel('α wave value')

# 두 번째 그래프
plt.plot(EEG_data_per_20sec.index, EEG_data_per_20sec['α_wave_raw_data'], marker='o', linestyle='-', label='20sec', color='orangered', linewidth = '3')

# 범례 추가
plt.legend()

# 그래프 표시
plt.show()

In [ ]:
from fastdtw import fastdtw
from scipy.spatial.distance import euclidean

# origin_brain_wave 데이터프레임을 20초 간격으로 재샘플링
resampled_origin = origin_brain_wave.resample('20S').mean()

min_length = min(len(resampled_origin), len(EEG_data_per_20sec))
resampled_origin = resampled_origin.iloc[:min_length]
EEG_data_per_20sec = EEG_data_per_20sec.iloc[:min_length]

x = resampled_origin.values.reshape(-1, 1)
y = EEG_data_per_20sec['α_wave_raw_data'].values.reshape(-1, 1)

# DTW 계산
distance, path = fastdtw(x, y, dist=euclidean)

print(f"DTW Distance: {distance}")

## 결론 : 값이 작을수록 유사도가 높음. DTW값 꽤 작음..! 절사평균 값 바꿔가면서 실험 필요

절사평균 5% : DTW Distance: 7.111305727886233 <br>
절사평균 10% : DTW Distance: 7.969509055381451 <br>
절사평균 15% : DTW Distance 8.674209944767824 <br>
절사평균 20% : DTW Distance: 9.818098677885928 <br>
절사평균 25% : DTW Distance: 10.555548655956144

## Fitbit data와 병합

In [ ]:
Fitbit = pd.read_csv(r"C:\Users\ballj\OneDrive\바탕 화면\Fitbit_test.csv")
Fitbit.head(10)

In [ ]:
Fitbit['timestamp'] = pd.to_datetime(Fitbit['timestamp'])
Fitbit = Fitbit.set_index('timestamp')

In [ ]:
Fitbit = Fitbit.drop(['spo2'], axis = 1)

In [ ]:
EEG_data_per_20sec

In [ ]:
# 인덱스를 datetime 타입으로
EEG_data_per_20sec.index = pd.to_datetime(EEG_data_per_20sec.index)
Fitbit.index = pd.to_datetime(Fitbit.index)

# 두 데이터프레임 병합
merged_df = EEG_data_per_20sec.merge(Fitbit, left_index=True, right_index=True, how='left')

In [ ]:
merged_df.head(50)

In [ ]:
merged_df.tail(50)

In [ ]:
start_time = merged_df.index[0]
start_time = start_time.strftime('%Y-%m-%d %H:%M:%S')

In [ ]:
start_time = start_time.replace(":", "_")

In [ ]:
merged_df.to_csv(r"C:\Users\ballj\OneDrive\바탕 화면\merged_{}.csv".format(start_time))